<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <style>
        .succes {
            color: green;
            border: 1px solid green;
            text-align: center;
            font-size: 34px;
            background-color: #10d61048;
        }

        .echec {
            color: red;
            border: 1px solid red;
            text-align: center;
            font-size: 34px;
            background-color: #e90d0d46;

        }

        div {
            padding-block: 2rem;
        }
    </style>
</head>

<body>
    <div id="app">
        <P>{{ message }}</P>
        <a :href="lien">Mon lien</a>
        <p v-bind:title="titre">Le titre</p>

        <div>
            <!-- <p v-if="success">La condition est remplie</p> -->
            <!-- <p v-else>Veuillez revoir votre condition</p> -->
            <!-- <p v-show="success">Afficher votre condition</p> -->
        </div>
        <!-- <div v-if="success">
            <ul>
                <li v-for="eleve in classe">{{ eleve }}</li>
            </ul>
        </div> -->

        <div>
            <p>{{count}}  {{countmsg}}</p>
            <button @click="increment">Augmente</button>
            <button @click="decrement">Diminuer</button>
        </div>
        <div>
            <input type="text" v-model.lazy="message">
            <p>{{message}}</p>
        </div>
        <div>
            <input type="text" v-model="success">
            <p v-if="success">Le succès est à nous</p>
        </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.0/vue.js"></script>
    <!-- <script src="app.js"></script> -->
    <script src="app1.js"></script>
</body>
<!-- https://fr.flossmanuals.net/initiation-a-javascript/liste-des-evenements/ -->

</html>